﻿<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="$(TargetDir)TemplatingGenerator.dll" #>
<#@ import namespace="TemplatingGenerator" #>

<#
    var generator = new ClientModelsGenerator();
    generator.Initialize(Host, GenerationEnvironment);
    generator.Generate();
#>